@page "/Questions"

    <h2>Questions?</h2>
<h6><i>Feel free to reach me: jayanth@g2tsolutions.com</i></h6>
<hr/>

<div>
    <div>
        <img src="/Images/questions.gif" width="700px" height="500px" />
    </div>
</div>

@code {

}
