@page "/siteprop"

<h2>Application Made using</h2>

<hr/>

<div>
    <div>
        <img src="/Images/asp.net-core.png" width="100px" height="100px" />
        <img src="/Images/blazor.jpg" width="200px" height="100px" />
        <img src="/Images/sql.png" width="200px" height="100px" />
        <img src="/Images/sweetalert.jpg" width="200px" height="100px" />
        <img src="/Images/codemirror.png" width="200px" height="100px" />
        <br />
        <img src="/Images/signalr.png" width="300px" height="100px" />
    </div>
    <div>
        <ul>
            <li><b>.NET Core 3.1 with MVC</b> for unsecured and secured sites</li>
            <li><b>.NET Core with Blazor</b> for Hacker's Den</li>
            <li><b>MSSQL DB</b> for legitamate and Hacked DB</li>
            <li><b>SIGNAL R</b> in HackedDB for live monitoring</li>

            <li><b>Sweet Alert</b> - Alerts</li>
            <li><b>Code mirror</b> for displaying the code highlights</li>
        </ul>
    </div>
</div>

@code {

}
