@page "/webattacks"


<h2>Web Attacks</h2>

<hr />
<p>Attacks are the techniques that attackers use to exploit the vulnerabilities in applications. Attacks are often confused with vulnerabilities, so please try to be sure that the attack you are describing is something that an attacker would do, rather than a weakness in an application.</p>

<hr />

<ul>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Binary_planting">Binary Planting</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Blind_SQL_Injection">Blind SQL Injection</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Blind_XPath_Injection">Blind XPath Injection</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Brute_force_attack">Brute Force Attack</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Buffer_Overflow_via_Environment_Variables">Buffer Overflow via Environment Variables</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Buffer_overflow_attack">Buffer Overflow Attack</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/CORS_OriginHeaderScrutiny">CORS OriginHeaderScrutiny</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/CORS_RequestPreflighScrutiny">CORS RequestPreflighScrutiny</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/CSV_Injection">CSV Injection</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Cache_Poisoning">Cache Poisoning</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Cash_Overflow">Cash Overflow</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Clickjacking">Clickjacking</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Code_Injection">Code Injection</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Command_Injection">Command Injection</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Comment_Injection_Attack">Comment Injection Attack</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Content_Security_Policy">Content Security Policy</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Content_Spoofing">Content Spoofing</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Cornucopia_-_Ecommerce_Website_Edition_-_Wiki_Deck">Cornucopia - Ecommerce Website Edition - Wiki Deck</a> by Darío De Filippis</li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Credential_stuffing">Credential stuffing</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Cross-User_Defacement">Cross-User Defacement</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/xss/">Cross Site Scripting (XSS)</a> by KirstenS</li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Cross_Frame_Scripting">Cross Frame Scripting</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Cross_Site_History_Manipulation_(XSHM)">Cross Site History Manipulation (XSHM)</a></li>    http://www.owasp.org
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Cross_Site_Tracing">Cross Site Tracing</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Cryptanalysis">Cryptanalysiss</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Custom_Special_Character_Injection">Custom Special Character Injection</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Denial_of_Service">Denial of Service</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Direct_Dynamic_Code_Evaluation_Eval Injection">Direct Dynamic Code Evaluation - Eval Injection</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Embedding_Null_Code">Embedding Null Code</a> by Nsrav</li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Execution_After_Redirect_(EAR)">Execution After Redirect (EAR)</a> by Robert Gilbert (amroot)</li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Forced_browsing">Forced browsing</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Form_action_hijacking">Form action hijacking</a> by Robert Gilbert (amroot)</li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Format_string_attack">Format string attack</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Full_Path_Disclosure">Full Path Disclosure</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Function_Injection">Function Injection</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/HTTP_Response_Splitting">HTTP Response Splitting</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/LDAP_Injection">LDAP Injection</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Log_Injection">Log Injection</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Man-in-the-browser_attack">Man-in-the-browser attack</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Man-in-the-middle_attack">Man-in-the-middle attack</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Mobile_code_invoking_untrusted_mobile_code">Mobile code invoking untrusted mobile code</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Mobile_code_non-final_public_field">Mobile code non-final public field</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Mobile_code_object_hijack">Mobile code object hijack</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Parameter_Delimiter">Parameter Delimiter</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Path_Traversal">Path Traversal</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Qrljacking">Qrljacking</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Reflected_DOM_Injection">Reflected DOM Injection</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Regular_expression_Denial_of_Service_-_ReDoS">Regular expression Denial of Service - ReDoS</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Repudiation_Attack">Repudiation Attack</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Resource_Injection">Resource Injection</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Reverse_Tabnabbing">Reverse Tabnabbing</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/SQL_Injection">SQL Injection</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Server-Side_Includes_(SSI)_Injection">Server-Side Includes (SSI) Injection</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Server_Side_Request_Forgery">Server Side Request Forgery</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Session_Prediction">Session Prediction</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Session_fixation">Session fixation</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Session_hijacking_attack">Session hijacking attack</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Setting_Manipulation">Setting Manipulation</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Special_Element_Injection">Special Element Injection</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Spyware">Spyware</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Traffic_flood">Traffic flood</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Trojan_Horse">Trojan Horse</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Unicode_Encoding">Unicode Encoding</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Web_Parameter_Tampering">Web Parameter Tampering</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/XPATH_Injection">XPATH Injection</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/XSRF">XSRF</a></li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/Xss_in_subtitle">XSS in subtitle</a> by Mohammad MortazaviZade</li>
    <li><a target="_blank" href="http://www.owasp.org/www-community/attacks/csrf">Cross Site Request Forgery (CSRF)</a> by KirstenS</li>
</ul>


@code {

}
