@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>Welcome to ABC Bank <b class="text-danger">[Security Compromised]</b></h4>
    <img src="/Images/unsecured.jpg" width="400px" />
</div>
