@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <div><b>Ethical Hacking &amp; Web Protection &copy; Jayanth</b></div>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
