@model WebSecurityProj.Models.ProductsDTO

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>
<script>
    $(document).ready(function () {
        $(document).on("keyup", "#desciption", function (e) {
            var sqlQuery = '';
            $("#temp").text(e.currentTarget.value);
            editableCodeMirror.setValue("");
            editableCodeMirror.replaceRange(sqlQuery + e.currentTarget.value, { line: Infinity });
        })

        var editableCodeMirror = CodeMirror.fromTextArea(document.getElementById('temp'), {
            mode: "text/javascript",
            indentWithTabs: true,
            smartIndent: true,
            lineNumbers: false,
            matchBrackets: true,
            theme: "eclipse",
            styleActiveLine: true,
            autofocus: true,
            extraKeys: { "Ctrl-Space": "autocomplete" },
        });
        editableCodeMirror.setSize(600, 100);
        if ('@Model?.Description') {
            var sqlQuery = '';
            editableCodeMirror.setValue('@Model?.Description');
        }
    });
</script>
<link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
<link rel="stylesheet" href="http://codemirror.net/addon/hint/show-hint.css">

<script src="http://codemirror.net/lib/codemirror.js"></script>
<script src="http://codemirror.net/addon/edit/matchbrackets.js"></script>
<script src="http://codemirror.net/mode/sql/sql.js"></script>
<script src="http://codemirror.net/addon/hint/show-hint.js"></script>
<script src="http://codemirror.net/addon/hint/sql-hint.js"></script>




<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="ProductId" class="control-label"></label>
            <input asp-for="ProductId" class="form-control" />
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerName" class="control-label"></label>
                <input asp-for="ManufacturerName" class="form-control" />
                <span asp-validation-for="ManufacturerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input type="number" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea id="desciption" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>


            </div>
            @*<div class="col-md-6 pull-right">
                <span id="textAreaQuery">
                    <textarea rows="2" cols="50" id="temp" name="temp" readonly></textarea>
                </span>
            </div>*@
            <div>

            </div>
            @*<div class="form-group">
            <label asp-for="CreatedDate" class="control-label"></label>
            <input asp-for="CreatedDate" class="form-control" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ProductListing">Back to List</a>
</div>

