
@{
    ViewData["Title"] = "Frame";
}

<h1>Frame</h1>

<div class="row form-horizontal">
    <div class="col">
        <div>
            <h5>Un-Secured Site</h5>
            Win 1000000 US$ by playing ultimate game
            <iframe src="http://www.banksite.com:84/Account/Transfer" style="width:100%;height:400px">
            </iframe>
        </div>
    </div>
    <div class="col">
        <div>
            <h5>Secured Site</h5>
            Win 1000000 US$ by playing ultimate game
            <iframe src="http://www.securedbanksite.com:85/Account/Transfer" style="width:100%;height:400px">
            </iframe>
        </div>
    </div>
</div>

